/* @import url(https://fonts.googleapis.com/css?family=Poppins:100,
  100italic,
  200,
  200italic,
  300,
  300italic,
  regular,
  italic,
  500,
  500italic,
  600,
  600italic,
  700,
  700italic,
  800,
  800italic,
  900,
  900italic); */
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  font-family: "Noto Sans TC", sans-serif;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
.container {
  margin: 5px;
}

header {
  padding: 7rem;
  background: #2f3b59;
}
.topHeader {
  margin: auto;
  text-align: center;
  color: rgb(32, 35, 41);
  font-weight: 900;
  font-size: 4rem;
  z-index: 1;
  align-self: flex-start;
}

.bg {
  background: #fff;
}

.search {
  height: 100px;
  background: #2f3b59
}

input[type="text"] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 50px;
  width: 60%;
  margin: auto;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 3rem;
  margin-left: 6.5rem;
}

.card {
  width: 300px;
  cursor: pointer;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2rem;
  border-radius: 30px;
  border-color: #000;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  transition: transform .2s;
}

.card:hover {
  animation: fadeIn ease 5s;
  transform: scale(0.9);
  
}

.card img {
  max-width: 300px;
  filter: grayscale(60%);
  border-radius: 30px;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  transition: all .5s;

  
}

.card img:hover {
  opacity: 0.7;
  transform: scale(0.98);
  
}

.confData {
  padding: 10px;
}
.confDate {
  color: #fff;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #000;
  border-radius: 20px;
}

.confType {
  background: #000;
  color: #fff;
  align-self: flex-end;
  border-radius: 20px;
  margin-left: 40%;
  padding: 0.5em;
}
.confName {
  color: #3a04ff;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
}

.btn {
  border: 2px solid #43a9fd;
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10%;
  margin-top: 8px;
  margin-left: 30%;
}

.filter {
 
  justify-content: center;
  margin-left: 50%;
  margin-top: 15px;
  font-size: 20px;
}

.click {
  border-color: #43a9fd;
  color: #43a9fd;
}

.click:hover {
  background-color: #43a9fd;
  color: white;
}

.btn a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

/**/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
